# =========================================================
#            Local Makefile settings for the GRF development tools
# =========================================================

# Copy this file to Makefile.local (if make didn't do it for you)
# and edit to modify the settings

# If the boost folder auto-detection fails, set your boost include folder here.
# If boost can be found in your standard include search paths, setting this to
# any non-empty value will cause make to assume that boost is present.
#BOOST_INCLUDE =

# Gnu compiler settings
#SHELL = /bin/sh
#CXX = g++
#STRIP = strip
#UPX = upx
#AWK = awk
#SRCZIP_FLAGS = -9
#SRCZIP = gzip

# use 386 instructions but optimize for pentium II/III
#MY_CXXFLAGS = -g -DWIN32 -O1 $(BOOST_INCLUDE) -Wall -Wno-uninitialized $(CXXFLAGS)
#LDOPT = -g -Wl,--subsystem,console -luser32 -lgdi32 -lwinmm -lcomdlg32 -lcomctl32
#LDOPT = -Wl,--subsystem,console,-s
#LDOPT += -Wl,-Map,$(@:%=%.map) # to make map files

# for profiling
#MY_CXXFLAGS += -pg
#LDOPT += -pg

# to pass the right 'type' sizes to typesize.h
#TYPESIZE = GCC32
#TYPESIZE = GCC64
#TYPESIZE = WIN32

# Use one of the following to force big endian or little endian.
# You might need to clean before it takes effect.
#ENDIAN_PARAMS = BE
#ENDIAN_PARAMS = LE

# Several options to influence the installation of documentation
#DO_NOT_INSTALL_DOCS = 1
#DO_NOT_INSTALL_CHANGELOG = 1
#DO_NOT_INSTALL_LICENSE = 1
#DO_NOT_INSTALL_MAN = 1
